div{
    color: red;
    font-size: 3rem;
    background-color: yellow;
    width: calc(100% / 3);
    /* margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: 0px; */
    margin: 100px 0 50px 100px;
}