/* .normal {
    background-color:coral;
}
.box {
    width: 200px;
    height: 200px;
    background-color: pink;
    padding: 8px 12px 16px 20px;
    margin: 8px 12px 16px 20px;
    border: 5px solid black;
    box-sizing: border-box;
} */

/* .margin {
    background-color: lightblue;
    margin-top: 30px;
} */

/* div, span {
    background-color: orange;
    width: 100px;
    height: 100px;
} */

/* .example {
    background-color: pink;
    padding: 20px;
}
.example span {
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: lightgreen;
} */