/* カスケード
#title {
    color: red;
}
.a {
    color: blue;
}
h1 {
    color: green;
} */

/* スコアリング
#title {
    color: red;
}
.a.b.c.d.e.f.g.h.i.k {
    color: blue;
} */

/* スコアリング(important)
#title {
    color: red;
}
.a.b.c.d.e.f.g.h.i.k {
    color: blue;
}
h1 {
    color: orange !important;
} */

/* 継承
li {
    color: red;
}
li a[href*="google"] {
    color: inherit;
}
li a[href*="youtube"] {
    color: initial;
}
li a[href*="apple"] {
    color: unset;
} */

/* プロパティ値のリセット
div {
    background-color: orange;
    border: 3px solid black;
}
.fix {
    background-color: initial;
    border: initial;
}
.fix {
    all: unset;
} */

