/*

要素・クラス・IDによるセレクター

h1, p {
    background-color: pink;
}

body {
    background-color: pink;
}

.title {
    background-color: pink;
}

.big { 
    font-size: 60px;
}

#title {
    background-color: pink;
}

article * {
    color: red;
}
*/


/*
属性によるセレクター

a[href] {
    color: red;

a[href^="https://www"] {
    color: red;
}

a[href*="yahoo"] {
    color: red;
}

a[href$=".co.jp"] {
    color: red;
}
*/


/*

擬似クラス及び擬似要素によるセレクター

article p:first-of-type {
    color: red;
}

article p:last-of-type {
    color: red;
}

article p:nth-of-type(2) {
    color: red;
}

article p:not(:first-of-type) {
    color: red;
}

p:not(:hover) {
    background-color: pink;
}

h1::after {
    content: "!!!";
}

h1::before {
    content: "!";
}

p::first-line {
    color: red;
}

p::first-letter {
    font-size: 50px;    
}
*/


/*
article p {
    color: red;
}

main article h1 {
    color: red;
}

main > h1 {
    color: red;
}

article p + p {
    color: red;
}

article h1 ~ p {
    color: red;
}
*/